@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  --foreground: #141414;
}

.dark {
  --background: #141414;
  --foreground: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background-color: var(--background);
}

/* Ensure Ant Design layouts take full height */
html, body, #__next {
  height: 100%;
}
